@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url("HKGrotesk-LegacyItalic.ede92742132e.eot");
    src: local('HK Grotesk Legacy Italic'), local('HKGrotesk-LegacyItalic'),
        url("HKGrotesk-LegacyItalic.ede92742132e.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-LegacyItalic.b38b610ff810.woff2") format('woff2'),
        url("HKGrotesk-LegacyItalic.9f5b49e5dd67.woff") format('woff'),
        url("HKGrotesk-LegacyItalic.ec328c622a4d.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk Light Legacy';
    src: url("HKGrotesk-LightLegacyItalic.7197ecf45f53.eot");
    src: local('HK Grotesk Light Legacy Italic'), local('HKGrotesk-LightLegacyItalic'),
        url("HKGrotesk-LightLegacyItalic.7197ecf45f53.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-LightLegacyItalic.680c78356e14.woff2") format('woff2'),
        url("HKGrotesk-LightLegacyItalic.a90ab81be273.woff") format('woff'),
        url("HKGrotesk-LightLegacyItalic.ec8cdc0e33a6.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-SemiBoldItalic.ca23a8f34ced.eot");
    src: local('HK Grotesk SemiBold Italic'), local('HKGrotesk-SemiBoldItalic'),
        url("HKGrotesk-SemiBoldItalic.ca23a8f34ced.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-SemiBoldItalic.5f3b7414b976.woff2") format('woff2'),
        url("HKGrotesk-SemiBoldItalic.1747620f0013.woff") format('woff'),
        url("HKGrotesk-SemiBoldItalic.737ebdcfac91.ttf") format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-BoldItalic.cdfbeddb941e.eot");
    src: local('HK Grotesk Bold Italic'), local('HKGrotesk-BoldItalic'),
        url("HKGrotesk-BoldItalic.cdfbeddb941e.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-BoldItalic.c034dfcbd408.woff2") format('woff2'),
        url("HKGrotesk-BoldItalic.412119343ae0.woff") format('woff'),
        url("HKGrotesk-BoldItalic.66c715c8e3e3.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk Medium Legacy';
    src: url("HKGrotesk-MediumLegacy.56cd94aad31c.eot");
    src: local('HK Grotesk Medium Legacy'), local('HKGrotesk-MediumLegacy'),
        url("HKGrotesk-MediumLegacy.56cd94aad31c.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-MediumLegacy.f787d96bf1a1.woff2") format('woff2'),
        url("HKGrotesk-MediumLegacy.1e803dcb665d.woff") format('woff'),
        url("HKGrotesk-MediumLegacy.e1c588c0951b.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Bold.646e29701fba.eot");
    src: local('HK Grotesk Bold'), local('HKGrotesk-Bold'),
        url("HKGrotesk-Bold.646e29701fba.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-Bold.8297728da793.woff2") format('woff2'),
        url("HKGrotesk-Bold.f9d69c970a0a.woff") format('woff'),
        url("HKGrotesk-Bold.e0a7404f47f2.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Medium.f97c1c78e3f9.eot");
    src: local('HK Grotesk Medium'), local('HKGrotesk-Medium'),
        url("HKGrotesk-Medium.f97c1c78e3f9.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-Medium.b83c819efbb3.woff2") format('woff2'),
        url("HKGrotesk-Medium.4bf9c6ac4bd3.woff") format('woff'),
        url("HKGrotesk-Medium.f1a57b299721.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-ExtraBold.69dd3b49b8bb.eot");
    src: local('HK Grotesk ExtraBold'), local('HKGrotesk-ExtraBold'),
        url("HKGrotesk-ExtraBold.69dd3b49b8bb.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-ExtraBold.6cf771f71513.woff2") format('woff2'),
        url("HKGrotesk-ExtraBold.c356b653c243.woff") format('woff'),
        url("HKGrotesk-ExtraBold.c1bf6cf79755.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk Light Legacy';
    src: url("HKGrotesk-LightLegacy.745a872c9f25.eot");
    src: local('HK Grotesk Light Legacy'), local('HKGrotesk-LightLegacy'),
        url("HKGrotesk-LightLegacy.745a872c9f25.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-LightLegacy.c066e0bc3e64.woff2") format('woff2'),
        url("HKGrotesk-LightLegacy.29c7eff8e372.woff") format('woff'),
        url("HKGrotesk-LightLegacy.c805168a6722.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-SemiBold.902e0c157008.eot");
    src: local('HK Grotesk SemiBold'), local('HKGrotesk-SemiBold'),
        url("HKGrotesk-SemiBold.902e0c157008.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-SemiBold.4d18fa0d80cf.woff2") format('woff2'),
        url("HKGrotesk-SemiBold.a64443b26af3.woff") format('woff'),
        url("HKGrotesk-SemiBold.987f581481b3.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Italic.a1e71043834b.eot");
    src: local('HK Grotesk Italic'), local('HKGrotesk-Italic'),
        url("HKGrotesk-Italic.a1e71043834b.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-Italic.985fd7a343a4.woff2") format('woff2'),
        url("HKGrotesk-Italic.54063edda0f8.woff") format('woff'),
        url("HKGrotesk-Italic.58c36cb3e201.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url("HKGrotesk-BoldLegacyItalic.f30f9120d6b0.eot");
    src: local('HK Grotesk Bold Legacy Italic'), local('HKGrotesk-BoldLegacyItalic'),
        url("HKGrotesk-BoldLegacyItalic.f30f9120d6b0.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-BoldLegacyItalic.e3e1602e97dd.woff2") format('woff2'),
        url("HKGrotesk-BoldLegacyItalic.bcd93420879f.woff") format('woff'),
        url("HKGrotesk-BoldLegacyItalic.c60d9ccafe8f.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-LightItalic.6837402ed4bf.eot");
    src: local('HK Grotesk Light Italic'), local('HKGrotesk-LightItalic'),
        url("HKGrotesk-LightItalic.6837402ed4bf.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-LightItalic.1c21e8fe8f2f.woff2") format('woff2'),
        url("HKGrotesk-LightItalic.8be376502413.woff") format('woff'),
        url("HKGrotesk-LightItalic.0d4737821f80.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Light.dfe335ff2769.eot");
    src: local('HK Grotesk Light'), local('HKGrotesk-Light'),
        url("HKGrotesk-Light.dfe335ff2769.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-Light.9f7c71cd26ae.woff2") format('woff2'),
        url("HKGrotesk-Light.0305cfb49dfb.woff") format('woff'),
        url("HKGrotesk-Light.c68dd021a061.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Regular.57ae9283fc12.eot");
    src: local('HK Grotesk Regular'), local('HKGrotesk-Regular'),
        url("HKGrotesk-Regular.57ae9283fc12.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-Regular.e9a15218ab8a.woff2") format('woff2'),
        url("HKGrotesk-Regular.810fb3e253af.woff") format('woff'),
        url("HKGrotesk-Regular.fc1852ee0950.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url("HKGrotesk-RegularLegacy.f336a62eec5d.eot");
    src: local('HK Grotesk Regular Legacy'), local('HKGrotesk-RegularLegacy'),
        url("HKGrotesk-RegularLegacy.f336a62eec5d.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-RegularLegacy.524e8499a44a.woff2") format('woff2'),
        url("HKGrotesk-RegularLegacy.1d83516065ab.woff") format('woff'),
        url("HKGrotesk-RegularLegacy.25e7809c50d4.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk SemiBold Legacy';
    src: url("HKGrotesk-SemiBoldLegacy.5e93dee79b69.eot");
    src: local('HK Grotesk SemiBold Legacy'), local('HKGrotesk-SemiBoldLegacy'),
        url("HKGrotesk-SemiBoldLegacy.5e93dee79b69.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-SemiBoldLegacy.93251c1b6399.woff2") format('woff2'),
        url("HKGrotesk-SemiBoldLegacy.85b97e9192ff.woff") format('woff'),
        url("HKGrotesk-SemiBoldLegacy.fa1a71f714d5.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Black.f1353d36058a.eot");
    src: local('HK Grotesk Black'), local('HKGrotesk-Black'),
        url("HKGrotesk-Black.f1353d36058a.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-Black.67622e7a4260.woff2") format('woff2'),
        url("HKGrotesk-Black.0e209553a5e8.woff") format('woff'),
        url("HKGrotesk-Black.d9f113adb11a.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk SmBold Legacy';
    src: url("HKGrotesk-SemiBoldLegacyItalic.064ba8295f0b.eot");
    src: local('HK Grotesk SemiBold Legacy Italic'), local('HKGrotesk-SemiBoldLegacyItalic'),
        url("HKGrotesk-SemiBoldLegacyItalic.064ba8295f0b.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-SemiBoldLegacyItalic.4b882d46b829.woff2") format('woff2'),
        url("HKGrotesk-SemiBoldLegacyItalic.d024e44594b2.woff") format('woff'),
        url("HKGrotesk-SemiBoldLegacyItalic.3aabfc145c2f.ttf") format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url("HKGrotesk-BoldLegacy.05509efa5e86.eot");
    src: local('HK Grotesk Bold Legacy'), local('HKGrotesk-BoldLegacy'),
        url("HKGrotesk-BoldLegacy.05509efa5e86.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-BoldLegacy.be23ed45285f.woff2") format('woff2'),
        url("HKGrotesk-BoldLegacy.51ed093787eb.woff") format('woff'),
        url("HKGrotesk-BoldLegacy.d705b0d91466.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk Medium Legacy';
    src: url("HKGrotesk-MediumLegacyItalic.154a175993de.eot");
    src: local('HK Grotesk Medium Legacy Italic'), local('HKGrotesk-MediumLegacyItalic'),
        url("HKGrotesk-MediumLegacyItalic.154a175993de.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-MediumLegacyItalic.8754f13d72a7.woff2") format('woff2'),
        url("HKGrotesk-MediumLegacyItalic.dbab8431a67e.woff") format('woff'),
        url("HKGrotesk-MediumLegacyItalic.f27a28174301.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-MediumItalic.713e026777b2.eot");
    src: local('HK Grotesk Medium Italic'), local('HKGrotesk-MediumItalic'),
        url("HKGrotesk-MediumItalic.713e026777b2.eot?#iefix") format('embedded-opentype'),
        url("HKGrotesk-MediumItalic.1f6c02619fff.woff2") format('woff2'),
        url("HKGrotesk-MediumItalic.09aef8c3b53b.woff") format('woff'),
        url("HKGrotesk-MediumItalic.e64c9f274dae.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

