{% extends 'base_auth.html' %}
{% load static %}
<title>Success {% block title %}
    {% endblock %}
</title>

{% block Auth %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4 card-bg-fill">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Create New Account</h5>
                    <p class="text-muted">Get a free account</p>
                </div>
                <div class="p-2 mt-4">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter email address" required>
                            <div class="invalid-feedback">
                                Please enter email
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Full Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="id_fullname" name="fullname" placeholder="Enter full name" required>
                            <div class="invalid-feedback">
                                Please enter full name
                            </div>
                        </div> 

                        <div class="mb-3">
                            <label class="form-label" for="password-input">Password <span class="text-danger">*</span></label>
                            <div class="position-relative auth-pass-inputgroup">
                                <input type="password" class="form-control pe-5 password-input" onpaste="return false" placeholder="Enter password" id="id_password1" name="password1" aria-describedby="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon material-shadow-none" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                <div class="invalid-feedback">
                                    Please enter password
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label" for="password-input"> Confirm Password <span class="text-danger">*</span></label>
                            <div class="position-relative auth-pass-inputgroup">
                                <input type="password" class="form-control pe-5 password-input" onpaste="return false" placeholder="Confirm password" id="id_password2" name="password2" aria-describedby="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon material-shadow-none" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                <div class="invalid-feedback">
                                    Please Check password
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="id_role" class="form-label">Role <span class="text-danger">*</span></label>
                            <select class="form-select" id="id_role" name="role" required>
                                <option value="" selected disabled>Select a role</option>
                                <option value="admin">Admin</option>
                                <option value="finance">Finance</option>
                                <option value="Supervisor">Supervisor</option>
                                <option value="staff">Staff</option>
                                <option value="super-admin">Super-Admin</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a role
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="supervisor" class="form-label">Supervisor's Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="id_supervisor" name="supervisor" placeholder="Enter Supervisor's Name" required>
                            <div class="invalid-feedback">
                                Please enter Supervisor's Name
                            </div>
                        </div> 

                        <div class="mb-3">
                            <label for="department" class="form-label">Department <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="id_department" name="department" placeholder="Enter Department Name" required>
                            <div class="invalid-feedback">
                                Please enter Department Name
                            </div>
                        </div> 

                        <div class="mb-3">
                            <label for="unit" class="form-label">Unit <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="id_unit" name="unit" placeholder="Enter Unit Name" required>
                            <div class="invalid-feedback">
                                Please enter Unit Name
                            </div>
                        </div> 

                        <div class="mb-4">
                            <p class="mb-0 fs-12 text-muted fst-italic">By registering you agree to the organization <a href="#" class="text-primary text-decoration-underline fst-normal fw-medium">Terms of Use</a></p>
                        </div>

                        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                            <h5 class="fs-13">Password must contain:</h5>
                            <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 characters</b></p>
                            <p id="pass-lower" class="invalid fs-12 mb-2">At <b>lowercase</b> letter (a-z)</p>
                            <p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b> letter (A-Z)</p>
                            <p id="pass-number" class="invalid fs-12 mb-0">A least <b>number</b> (0-9)</p>
                        </div>

                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit">Sign Up</button>
                        </div>
                        
                    </form>

                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
</div>
<!-- end row -->
{% endblock Auth %}
